    <div class=" main-body container-fluid">
       <h4>Login As</h4>
       <div class=" button-container container">
           <form action="/teacher-login" >
            <button type="submit"class="btn btn-primary ">Teacher</button>
           </form>
           <form action="/student-login" >
            <button type="submit"class="btn btn-primary ">Student</button>
           </form>
           
       </div>
    </div>
