<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <%- include('../views/header'); %>
    <title>Result Management System</title>
</head>
<body>
    <%- include('../views/logut-header'); %>
    <div class="container">
        <h1>Sorry No Result Found !!</h1>
    </div>
</body>
<style>
    .container{
        margin-top: 100px;
        margin-bottom: 100px;
        text-align: center;
        display:flex;
        justify-content: center;
        
    }
</style>