<head>
  <link rel="stylesheet" href="../public/css/style.css" type="text/css">
</head>
<div class="header container-fluid">
    <h3>Result Management System</h3>
   <form class="but" action="/">
        <button style="border-radius:10px;width:6rem;background-color:rgb(248, 205, 125);
  color:black;border: 1px solid rgb(255, 126, 5);font-weight:bold;" class="btn btn-primary">Logout</button>
  </form>
</div>
<style>
  .header{
    display: flex;
    justify-content: center;
    border-top: 1px solid #4E9F3D;
    border-bottom: 1px solid #4E9F3D;
    background-color:#CDF3A2;
}
.header h3{
    margin:1rem;
    font-weight: bold;
}

.but button{
    margin-top: 0.9rem;
    position: absolute;
    right: 0;
    margin-right: 4rem;
  
    
 }
  
</style>

