<!DOCTYPE html>
<html lang="en">
 
  <link rel="stylesheet" href="css/style.css" type="text/css">
<head>
  <%- include('../views/header'); %>
</head>
<body>
  <%- include('../views/teacher-form'); %>
</body>